<%- include("../layouts/adminHeader.ejs") %>
  

<section>
    <div class="container mt-5">
        <div class="row">

            <div class="col-md-6 mt-5">
                <h2 class="text-center mt-5">Offer Management</h2>
                <form action="/admin/admin-offer" method="post" > 

                    <!-- <label for="">Name</label> -->
                    <div class="mb-4 form-floating">
                        <label class="form-label" for="form3Example3c">Enter Coupon Code</label>
                     <input type="text" name="name"  class="form-control" placeholder="enter new coupon" required/>
                    </div>
                    <div class="mb-4 form-floating">
                        <label class="form-label" for="form3Example3c">Enter Type</label>
                        <input type="text" name="type" class="form-control" placeholder="enter type" required/>
                    </div>
                    <div class="mb-4 form-floating">
                        <label class="form-label" for="form3Example3c">Minimum Amount</label>
                        <input type="text" name="minimumBill"  class="form-control" placeholder="enter minimumBill" required/>
                    </div>
                    <div class="mb-4 form-floating">
                        <label class="form-label" for="form3Example3c">Expiry Date</label>
                        <input type="date" name="expirydate"  class="form-control" placeholder="enter expirydate" required/>
                    </div>
                    <div class="mb-4 form-floating">
                        <label class="form-label" for="form3Example3c">Enter Discount</label>
                        <input type="text" name="discount"  class="form-control" placeholder="enter discount" required/>
                    </div>
                    <button type="submit" value="register" class="btn btn-success mt-4">Submit</button> 
                </form>
            </div>
        </div>
    </div>
</section>
